# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
**/bin
testbin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

.DS_Store

/mod
/bin
/charts
/vendor
/module-chart/manifest
default.yaml
template.yaml
template-k3d.yaml
